# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on one-to-many and many-to-many relationships!

## Objectives

You will be able to:
- Query data using one-to-many and many-to-many joins
- Predict the resulting size of one-to-many and many-to-many joins

## One-to-Many and Many-to-Many Joins
<img src='images/Database-Schema.png' width="600">

## Connect to the Database

In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [8]:
query = 'select firstName,lastName, city, state from employees join offices using (officeCode) group by firstName  '
pd.read_sql(query,conn)

   firstName   lastName           city       state
0       Andy     Fixter         Sydney
1    Anthony        Bow  San Francisco          CA
2      Barry      Jones         London
3      Diane     Murphy  San Francisco          CA
4   Foon Yue      Tseng            NYC          NY
5     George     Vanauf            NYC          NY
6     Gerard  Hernandez          Paris
7       Jeff   Firrelli  San Francisco          CA
8      Julie   Firrelli         Boston          MA
9      Larry       Bott         London
10    Leslie   Thompson  San Francisco          CA
11      Loui     Bondur          Paris
12      Mami      Nishi          Tokyo  Chiyoda-Ku
13    Martin     Gerard          Paris
14      Mary  Patterson  San Francisco          CA
15    Pamela   Castillo          Paris
16     Peter      Marsh         Sydney
17     Steve  Patterson         Boston          MA
18       Tom       King         Sydney
19   William  Patterson         Sydney
20   Yoshimi       Kato          Tokyo  Chiyoda-Ku

## Customers and their Orders (a One-to-Many join)

Return a list of all the customers first and last names along with a record for each of their order numbers, order dates and statuses.

In [11]:
query = 'select ContactfirstName,ContactlastName, ordernumber, orderdate, status from customers join orders using (customernumber) group by contactfirstName  '
pd.read_sql(query,conn)

   contactFirstName contactLastName orderNumber   orderDate      status
0            Adrian          Huxley       10420  2005-05-29  In Process
1             Akiko       Shimamura       10408  2005-04-22     Shipped
2             Allen          Nelson       10369  2005-01-20     Shipped
3              Ann            Brown       10351  2004-12-03     Shipped
4              Anna          O'Hara       10391  2005-03-09     Shipped
5          Annette           Roulet       10397  2005-03-28     Shipped
6            Arnold            Cruz       10330  2004-11-16     Shipped
7               Ben        Calaghan       10374  2005-02-02     Shipped
8             Brian        Chandler       10209  2004-01-09     Shipped
9           Carine          Schmitt       10345  2004-11-25     Shipped
10       Catherine            Dewey       10423  2005-05-30  In Process
11       Christina         Berglund       10334  2004-11-19     On Hold
12              Dan           Lewis       10353  2004-12-04     Shipped
13           Daniel        Da Silva       10395  2005-03-17     Shipped
14          Daniel           Tonini       10304  2004-10-11     Shipped
15             Dean         Cassidy       10297  2004-09-16     Shipped
16           Diego           Freyre       10424  2005-05-31  In Process
17        Dominique         Perrier       10402  2005-04-07     Shipped
18          Dorothy           Young       10322  2004-11-04     Shipped
19         Eduardo         Saavedra       10340  2004-11-24     Shipped
20        Elizabeth           Devon       10403  2005-04-08     Shipped
21       Elizabeth          Lincoln       10283  2004-08-20     Shipped
22             Eric       Natividad       10387  2005-03-02     Shipped
23        Francisca       Cervantes       10307  2004-10-14     Shipped
24           Franco         Ricotti       10218  2004-02-09     Shipped
25      Frédérique          Citeaux       10405  2005-04-14     Shipped
26           Georg            Pipps       10419  2005-05-17     Shipped
27        Giovanni          Rovelli       10328  2004-11-12     Shipped
28           Helen          Bennett       10316  2004-11-01     Shipped
29       Henriette        Pfalzheim       10310  2004-10-16     Shipped
..              ...             ...         ...         ...         ...
58           Miguel         Barajas       10294  2004-09-10     Shipped
59           Mihael            Holz       10287  2004-08-30     Shipped
60             Mike          Graham       10404  2005-04-08     Shipped
61             Mory         Kentary       10240  2004-04-13     Shipped
62            Palle           Ibsen       10314  2004-10-22     Shipped
63           Paolo          Accorti       10293  2004-09-09     Shipped
64         Pascale         Cartrain       10366  2005-01-10     Shipped
65            Paul          Henriot       10398  2005-03-30     Shipped
66            Peter        Ferguson       10347  2004-11-29     Shipped
67           Pirkko       Koskitalo       10373  2005-01-31     Shipped
68           Rachel        Ashworth       10332  2004-11-17     Shipped
69           Roland          Keitel       10323  2004-11-05     Shipped
70          Roland           Mendel       10392  2005-03-10     Shipped
71             Rosa         Salazar       10331  2004-11-17     Shipped
72            Sarah           McRoy       10418  2005-05-16     Shipped
73             Sean        Clenahan       10415  2005-05-09    Disputed
74            Steve        Thompson       10215  2004-01-29     Shipped
75              Sue          Taylor       10219  2004-02-10     Shipped
76            Susan          Nelson       10421  2005-05-29  In Process
77          Thomas            Smith       10213  2004-01-22     Shipped
78             Tony         Snowden       10399  2005-04-01     Shipped
79          Valarie          Franco       10243  2004-04-26     Shipped
80           Veysel          Oeztan       10289  2004-09-03     Shipped
81          Violeta         Benitez       10388  2005-03-03     Shipped
82            Wales       MacKinlay       10410  2005-04-29     Shipped
83            Wendy       Victorino       10409  2005-04-23     Shipped
84          William           Brown       10401  2005-04-03     On Hold
85             Wing           Huang       10365  2005-01-07     Shipped
86           Yoshi           Tamuri       10313  2004-10-22     Shipped
87               Yu            Choi       10319  2004-11-03     Shipped

[88 rows x 5 columns]

## Customers and their Payments (another One-to-Many join)

Return a list of customers first and last names along with details about their payments including the amount and date of payments. Sort these results in descending order by the payment amount.

In [3]:
# Your code here

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of customer first and last names, product names, quantities, and date ordered for each of the customers and each of their orders. Sort these in descending order by the order date.

Note: This will require joining 4 tables! This can be tricky! Give it a shot, and if you're still stuck, turn to the next section where you'll see how to write subqueries which can make complex queries such as this much simpler!

In [4]:
# Your code here

## Summary

In this lab, you practiced your knowledge on one-to-many and many-to-many relationships!